@import '../mixin.scss';

.app {
  height: 200vh;

  .homeHeader {
    display: flex;
    height: 35vh;
    flex-direction: row;
    justify-content: space-between;

    .headerIllustration {
      margin-right: -5rem;
    }
  }

  .titleContainer {
    .title {
      font-size: 3.5rem;
      font-weight: 900;
      margin-bottom: 1rem;
    }

    .subtitle {
      font-size: 1.5rem;
      font-weight: 200;
      // margin-bottom: 2rem;
    }
  }

  .ctaContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
  }

  .carrousselContainer {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contentContainer {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;

    .activitiesContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
    }
  }
}